body {
   background: #FAFAFA;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}

* {
   margin: 0;
   padding: 0;
   outline: none;
}

.logo {
   width: 100%;
   transition: all 1s;
}

.shape1 {
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
}

header {
   max-width: 500px;
   height: 120px;
   margin:  0 auto;
   margin-bottom: 10px;
   padding-left: 25px;
}

.name {
   margin-top: 31.4px;
}

.start {
   height: 31px;
   display: flex;
   justify-content: start;
   align-items: center;
   margin-bottom: 10px;
   padding: 0;
}

h1 {
   margin: 0;
   padding: 0;
   font-size: 35px;
   font-family: 'Myriad Pro Regular';
   color: #262626;
   line-height: 35px;
   margin-right: 20px;
   height: 35px;
   font-weight: 500;
}

.start>span {
   width: 149px;
   height: 31px;
   border: 1px solid #4090DB;
   color: #4090DB;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   line-height: 15px;
   border-radius: 5px;
   font-family: 'Helvetica Neue Cyr Thin';
}

.progress {
   background: none;
}

.indent {
   margin-right: 30px;
}
.number{
   font-size: 17px;
   font-weight: 900;
   color:#3D4044;
   font-family: "ProximaNovaBold";
}

.prox{
   font-size: 17px;
   font-family: "ProximaNovaRegular";
   font-weight: 100;
}

.list_view {
   width: 935px;
   margin: 0 auto;
}

.view-group {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: row;
   flex-direction: row;
   padding-left: 0;
   margin-bottom: 0;
}

.thumbnail {
   margin-bottom: 30px;
   padding: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.item.list-group-item {
   float: none;
   width: 100%;
   background-color: #fff;
   margin-bottom: 30px;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
   padding: 0 1rem;
   border: 0;
}

.item.list-group-item .img-event {
   float: left;
   width: 30%;
}

.item.list-group-item .list-group-image {
   margin-right: 10px;
}

.item.list-group-item .thumbnail {
   margin-bottom: 0px;
   display: inline-block;
}

.item.list-group-item .caption {
   float: left;
   width: 70%;
   margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
   display: table;
   content: " ";
}

.item.list-group-item:after {
   clear: both;
}

.img-fluid {
   max-width: 292px;
   height: 292px;
}

.btn {
   background: none;
   width: 100%;
   height: 100%;
}

.thumbnail{
   width: 292px;
}

.btn_list{
   padding: 0;
   margin: 0;
   display: flex;
}

.btn:focus,.btn.focus,.btn-primary:focus, .btn-primary.focus{
   box-shadow:none;
}

.card-body {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   min-height: 0;
   padding: 0;
 }

 .caption {
   padding-top: 0;
   padding-bottom: 0;
   color: #6c757d;
   text-align: left;
   caption-side: bottom;
 }

.shape2 {
   max-width: 175px;
   height: 438px;
   background: url(/media/shape/Shape2.svg);
   margin-left: auto;
   background-repeat: no-repeat;
   background-position: right;
   background-size: contain;  
}

.load_more{
   width: 124px;
   height: 28px;
   background: #FAFAFA;
   border:1px solid #000000;
   border-radius: 14px;
   display:flex;
   justify-content: center;
   align-items:center;
   margin: 0 auto;   
}

.load_more:focus{
   outline: none;
}

@font-face {
   font-family: 'Myriad Pro Regular';
   src: url('/fonts/MyriadPro-Regular.eot');
   src: url('/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/MyriadPro-Regular.woff') format('woff'),
      url('/fonts/MyriadPro-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue Cyr Thin';
   src: url('/fonts/HelveticaNeueCyr-Thin.eot');
   src: url('/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
      url('/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "ProximaNovaRegular";
   src: url("/fonts/ProximaNovaRegular.eot");
   src: url("/fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
   url("/fonts/ProximaNovaRegular.woff") format("woff"),
   url("/fonts/ProximaNovaRegular.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "ProximaNovaBold";
   src: url("/fonts/ProximaNovaBold.eot");
   src: url("/fonts/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
   url("/fonts/ProximaNovaBold.woff") format("woff"),
   url("/fonts/ProximaNovaBold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}

@media screen and (min-width:1980px){

   .start{
     margin-left: 80px; 
     transition: all 1s;
   }
   header{
      margin-bottom: 45px;
      margin-top: 10px;
      transition: all 1s;
   }
}

@media screen and (max-width:1466px){

   .logo{
      width: 100%;
      transition: all 1s;
   }

   header{
      padding-left: 110px;
      width: 650px;
      margin-top: 0;
      transition: all 1s;

   }

   h1{
      margin-top: 0;
   }
}

@media screen and (max-width:1000px){
   .list_view {
      width: 75%;
      transition: all 1s;
   }
}
@media screen and (max-width:800px){
   header{
      width: 500px;
      margin-right: 0 ;
      transition: all 1s;
   }

   h1{
      font-size: 25px;
      transition: all 1s;
   }

   .start_name{
      flex-wrap: wrap;
      transition: all 1s;
   }
}